@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
    --color-nsu-red-100: #A02732;
    --color-nsu-red-200: #70161E;
    --color-nsu-red-300: #3B252C;
    --color-nsu-gray-100: #FFFFFF;
    --color-nsu-gray-200: #8F8389;
    --color-nsu-gray-300: #000000;
    --color-nsu-tan-100: #E7DFD4;

    --font-nsu-main: 'Urbanist', sans-serif
}

body {
    font-family: var(--font-nsu-main);
    background-color: var(--color-nsu-tan-100);
    color: var(--color-nsu-gray-300);   
}